# Python 3.10
numpy==1.24.4
torch==1.12.1
gym==0.23.1
gymnasium==0.28.1
stable-baselines3==2.0.0
tensorboard==2.10.0
tensorflow==2.10.0
wandb==0.13.11
moviepy==1.0.3
pygame==2.1.0
huggingface-hub==0.11.1
rich==11.2.0
tenacity==8.2.2
tyro==0.5.10
pyyaml==6.0.1
